<nav class="navbar is-transparent is-fixed-top fond-0 is-rounded">
  <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img class="image " src="/logo.png"/>
        </a>
      </div>

      <div class="navbar-end ">
          <a class="navbar-item navbar-text" href="/">
              <b>Accueil</b>
          </a>
          <a class="navbar-item navbar-text" href="/quisuisje">
            <b>Qui suis-je ?</b>
          </a>
          <a class="navbar-item navbar-text" href="/prestations">
            <b>Préstations et Tarifs</b>
          </a>
          <a class="navbar-item navbar-text" href="/#contact">
            <b>Contact</b>
        </a>
      </div>
  </div>
</nav>