<nav class="navbar is-transparent is-fixed-top fond-0 is-rounded" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" aria-label="Accueil">
          <img class="image" src="/logo.png" alt="A l'Auré du Bien Être - Logo" width="112" height="36" decoding="async"/>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="mainNav" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item navbar-text" href="/"><b>Accueil</b></a>
            <a class="navbar-item navbar-text" href="/quisuisje"><b>Qui suis-je&nbsp;?</b></a>
            <a class="navbar-item navbar-text" href="/soins"><b>Prestations et tarifs</b></a>
            <a class="navbar-item navbar-text" href="/#contact"><b>Contact</b></a>
        </div>
      </div>
  </div>
</nav>